/** Google font link**/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
body{
    background-color: #20546f;
    font-family: 'Rajdhani', sans-serif;
}
.todo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    
}